
<div data-bb-type="screen" data-bb-effect="slide-left">
		<script id="dataOnLoadMenu" src="js/menuOnLoad.js"></script>
			
			<div id="mygrid" data-bb-type="grid-layout">
				<div id="gridmenu" data-bb-type="group" data-bb-title="Cooking suggestions">
						<div data-bb-type="row">
							<div id="dailyItem" data-bb-type="item" data-bb-img="http://89.205.7.204/cs/images/daily.jpg" data-bb-title="Daily" onclick="bb.pushScreen('daily.htm', 'daily');"></div>
						</div>
						<div data-bb-type="row">
							<div data-bb-type="item" data-bb-img="http://89.205.7.204/cs/images/recommended.jpg" data-bb-title="Recommended" onclick="bb.pushScreen('recommended.htm', 'recommended');"></div>		
							<div data-bb-type="item" data-bb-img="http://89.205.7.204/cs/images/category.jpg" data-bb-title="Categories" onclick="bb.pushScreen('categories.htm', 'categories');"></div> 
						</div>
						<div data-bb-type="row">	
							<div data-bb-type="item" data-bb-img="http://89.205.7.204/cs/images/holiday.jpg" data-bb-title="Holiday" onclick="bb.pushScreen('holiday.htm', 'holiday');"></div> 
							<div data-bb-type="item" data-bb-img="http://89.205.7.204/cs/images/vegetables.jpg" data-bb-title="Vegeterian" onclick="bb.pushScreen('vegeterian.htm', 'vegeterian');"></div>
						</div>
						<div data-bb-type="row">	
							<div data-bb-type="item" data-bb-img="http://89.205.7.204/cs/images/video.jpg" data-bb-title="Videos" onclick="bb.pushScreen('videos.htm', 'videos');"></div> 
							<div data-bb-type="item" data-bb-img="http://89.205.7.204/cs/images/favorites.jpg" data-bb-title="Favorites" onclick="bb.pushScreen('favorite.htm', 'favorite');"></div>
						</div>
				</div>
			</div>
		
</div>