﻿@{
    ViewBag.Title = "Home Page";
}
@section Meni{
                           <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Мени", "Index", "Menu")</li>
                            <li>@Html.ActionLink("Категории", "Index", "Category")</li>
                            <li>@Html.ActionLink("Видеа", "Index", "Video")</li>
                        </ul>
    }
@section featured {
  
}
