﻿@model IEnumerable<GetRecipeForCategoryResult>
@using DATA
@{
    ViewBag.Title = "Index";
}
@section Meni{
                           <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Мени", "Index", "Menu")</li>
                            <li>@Html.ActionLink("Категории", "Index", "Category")</li>
                            <li>@Html.ActionLink("Видеа", "Index", "Video")</li>
                        </ul>
    }
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { categoryID=ViewBag.categoryID},null)
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HashID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HashID)
        </td>
        <td>
            @if((User.Identity.Name.Equals(item.Username)) || User.IsInRole("SuperAdmin")) {
                @Html.ActionLink("Edit", "Edit", new { id=item.ID, categoryID=ViewBag.categoryID })
            }
        </td>
    </tr>
}

</table>
