﻿@model CookingSuggestions.Models.LoginModel


<hgroup class="title">
    <h1>Cooking suggestions</h1>
</hgroup>

<section id="loginForm">
<h2>Најава на системот</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.Label("Корисничко име")
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.Label("Лозинка")
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.Label("Запамти", new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Внеси" />
    </fieldset>
    
}
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
